# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/

# VS Code settings and workspace files
.vscode/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
.coverage
htmlcov/
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Docker
.dockerignore

# PyCharm
.idea/

# MyPy
.mypy_cache/

# pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Secrets
.env
.env.local
